<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MergeOnline - FNF Audio Mixer</title>
    <!-- Подключаем будущие стили из папки static-->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body style="background: #1e1e24; color: white; font-family: Arial, sans-serif; text-align: center; padding-top: 50px;">

    <h1>MergeOnline-Web 🎵</h1>
    <p>Добро пожаловать в веб-версию миксера треков Friday Night Funkin'!</p>
    
    <!-- Сюда планирую добавить в следующем шаге форму выбора файлов и галочку RMS -->

</body>

</html>